.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: var(--second-bg-color);
    color: white;
}

.dashboard-img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
}