
.login-page {
    margin: 16px;
    text-align: center;
    background-color: var(--second-bg-color);
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
  .login-page h2 {
    color: var(--text-color);
    font-size: 2rem;
    margin-bottom: 16px;
  }
  .login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-page form label {
    color: var(--text-color);
    font-size: 1.5rem;
    margin-bottom: 8px;
  }
  .login-page form input {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid var(--text-color);
    border-radius: 4px;
  }
  .login-page form button {
    width: 100%;
    max-width: 300px;
    padding: 8px;
    background-color: var(--button-color);
    color: var(--bg-color);
    font-size: 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .login-page form button:hover {
    background-color: var(--button-border-color);
  } 

  .login-container {
    background-color: var(--bg-color);
    margin: 16px;
    text-align: center;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
  }
