@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Karla", sans-serif;
}

:root {
  --bg-color: #fff;
  --second-bg-color: #f8f8f8;
  --text-color: #333;
  --link-on-hover-color: #5c5c5c;
  --main-color: #596dde;
  --button-color: #4ede72;
  --button-border-color: #4ede72;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 2rem auto;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 10px;
}



p {
  margin-bottom: 10px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  background-color: #f4f4f4;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #282c34;
  color: white;
}

li {
  list-style-type: none;
}
